{% extends "layout.html.twig" %}
        {% block page_title %}

        {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/product.css') }}">
{% endblock %}


{% block content %}
    <div class="container cont_product">
        <div class="row">
        {% for product in products %}
             <div class="col-md-4 col-sm-12 cardProd">
                    <div class="card">
                        <img class="card-img-top" src="{{ asset('images/product/' ~ product.picture) }}"
                             alt="{{ product.title }}">
                        <div class="card-body sizeCardBdy">
                            <h5 class="card-title">{{ product.title }}</h5>
                            <p class="card-text">{{ product.description | slice(0, 100) | raw }}...</p>
                            <div class="buttonsAlign">
                            <a href="{{ path('product_details', {
                                'slug' : product.slug
                            }) }}" class="btn btn-default">Voir le detail</a>
                            <a href="" class="btn btn-default">Ajouter au panier</a>
                            </div>
                        </div>
                    </div>
                </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}

