{% extends 'layout.html.twig' %}

{% set total = 0 %}

{% block content %}
    {% if product is empty %}
        <h1>Votre panier est vide</h1>
    {% else %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id produit</th>
                <th scope="col">nom du produit</th>
                <th scope="col">prix</th>
            </tr>
            </thead>
            <tbody>
            {% for product in product %}
                <tr>
                    <th scope="row">{{ product.id }}</th>
                    <td>{{ product.title }}</td>
                    <td>{{ product.price }} €</td>
                </tr>
                {% set total = total + product.price %}
            {% endfor %}
            </tbody>
        </table>
        <h5 class="float-right">
            Total = {{ total }} euros
        </h5>
        <div class="panier-link">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                    <div>
                        <h5>Adresse de livraison</h5>
                        <p> {{ user.nom }} , {{ user.firstName }} </p>
                        <p> {{ user.address }} , {{ user.city }} </p>
                        <p> {{ user.zipcode }} </p>
                    </div>


                <div>
                    <form action="{{ path('payment') }}" method="post" id="payment-form">
                        <div class="form-group">
                            <label for="card-element">
                                Credit or debit card
                            </label>
                            <div id="card-element">
                                <!-- A Stripe Element will be inserted here. -->
                            </div>

                            <div id="payment-request-button">
                                <!-- A Stripe Element will be inserted here. -->
                            </div>

                            <!-- Used to display form errors. -->
                            <div id="card-errors" role="alert"></div>
                        </div>

                        <button class="btn submitt">Submit Payment</button>
                    </form>
                </div>


            {% else %}
                <a class="nav-link" href="{{ path('security_login') }}" data-toggle="modal"
                   data-target="#connexion">Identifiez-vous pour proceder au paiement</a>
                <br>
                <a href="">Inscrivez-vous pour proceder au paiement</a>
            {% endif %}
        </div>
    {% endif %}

{% endblock %}

{% block final_javascripts %}
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{{ asset('script/payment.js') }}"></script>

{% endblock %}

{% block page_title %}

{% endblock %}
