{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/payment.css') }}">

{% endblock %}

{% block page_title %}
Votre panier
{% endblock %}

{% set total = 0 %}

{% block content %}
    {% if product is empty %}
        <h1>Votre panier est vide</h1>
    {% else %}
        <h5>Votre panier</h5>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id produit</th>
                <th scope="col">nom du produit</th>
                <th scope="col">prix</th>
            </tr>
            </thead>
            <tbody>
            {% for product in product %}
                <tr>
                    <th scope="row">{{ product.id }}</th>
                    <td>{{ product.title }}</td>
                    <td>{{ product.price }} €</td>
                    <td><a href="{{ path('supprimer',{ 'id' : product.id  }) }}" class="submitt"><i
                                    class="fas fa-times"></i>

                        </a></td>
                </tr>
                {% set total = total + product.price %}
            {% endfor %}
            </tbody>
        </table>
        <h2>
            Total <b>{{ total }}</b> euros
        </h2>
        <div class="panier-link">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div>
                    <h5>Adresse de livraison</h5>
                    <p> {{ user.nom }} , {{ user.firstName }} </p>
                    <p> {{ user.address }} , {{ user.city }} </p>
                    <p> {{ user.zipcode }} </p>
                </div>
                <a class="btn submitt" href="{{ path('user_profil') }}">Modifier vos coordonnees</a>
                <br>
                <br>
                <div>
                    <form action="{{ path('payment') }}" method="post" id="payment-form">
                        <div class="form-group">
                            <h5 for="card-element">
                                Information de paiement
                            </h5>
                            <div id="card-element">
                                <!-- A Stripe Element will be inserted here. -->
                            </div>

                            <div id="payment-request-button">
                                <!-- A Stripe Element will be inserted here. -->
                            </div>

                            <!-- Used to display form errors. -->
                            <div id="card-errors" role="alert"></div>
                        </div>

                        <button class="btn submitt">Proceder au paiement</button>
                    </form>
                </div>


            {% else %}
                <a class="btn submitt" href="{{ path('security_login') }}" data-toggle="modal"
                   data-target="#connexion">Connexion</a>
                <br>
                <br>
                <a href="{{ path('user_inscription') }}" class="btn submitt">Inscription</a>
            {% endif %}
        </div>
    {% endif %}

{% endblock %}

{% block final_javascripts %}
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{{ asset('script/payment.js') }}"></script>

{% endblock %}
